.screen{
    width: 100%;
    height: 100%;
}
body{
    background-image: url("background.jpg");
    background-size: cover;
}
.flex-container{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}
#leftside, #rightside{
    text-align: center;
    float: left;
    min-height: 100vh;
}
#leftside{
    width: 30%;
    color:white;
    justify-content:center;
}
#rightside{
    width: 70%;
    background:rgb(255, 255, 255);
}
h1{
    font-size:50px;
    color:#C72175;
}
h2{
    font-size: 30px;
}
i{
    position: relative;
    /*talvez absolute*/
    left: 31px;
    top: 7px;
}
#nome, #email, #password{
    height: 36px;
    width: 300px;
    border-color: #4F1180;
}
#button{
    background-color:#C72175;
    color: white;
    height: 50px;
    width: 150px;
    font-weight: bold;
    font-size: 17px;
    border: 0px;
}
button{
    background-color:#C72175;
    color: white;
    height: 50px;
    width: 150px;
    border: 0px;
    font-size: 17px;
}
::placeholder{
    color: black; 
    padding: 26px;
}


